<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="dao.CommentsMapper">	
	<!-- 将产品信息保存再数据库中 -->
	<insert id="insertComments" parameterType="pojo.Comments">
		INSERT INTO comments (
			commentsId,
			commentsTime,
			commentsContent,
			commentsName,commentsProName) 
			VALUES(
			#{commentsId},
			#{commentsTime},
			#{commentsContent},
			#{commentsName},
			#{commentsProName})
	</insert>
	
	<!--获取指定的评论信息  -->
	<select id="getPro_NameComments" parameterType="string" resultType="pojo.Comments">
		SELECT * FROM comments   WHERE commentsProName=#{pro_Name}       
	    ORDER BY   commentsTime  desc   
	    limit 0,10
	</select>
	
	<!-- 获取所有的评论数 -->
	<select id="getAllComments" resultType="pojo.Comments">
		select * from comments where 1=1 
		<if test="commentsName!=null and commentsName!=''">
			and commentsName = #{commentsName}
		</if>
		<if test="commentsProName!=null and commentsProName!=''">
			and commentsProName = #{commentsProName}
		</if>
		ORDER BY   commentsTime  desc 
		limit #{page},#{rows}
	</select>
	
	<!-- 获取评论的总数 -->
	<select id="getAllCommentsTotal" resultType="int">
		select count(*) from comments where 1=1
		<if test="commentsName!=null and commentsName!=''">
			and commentsName = #{commentsName}
		</if>
		<if test="commentsProName!=null and commentsProName!=''">
			and commentsProName = #{commentsProName}
		</if>
	</select>
	
	<!-- 删除评论数 -->
	<delete id="deleteComments" >
		DELETE FROM comments WHERE commentsId =#{commentsId}
	</delete>
	
	
</mapper>