<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
     
     <!-- 配置扫描，配置乱码处理，静态资源，配视图，异常的配置，配置文件上传 -->
   <mvc:annotation-driven>
   </mvc:annotation-driven>
    <!-- （2）新的解决方案，配置扫描器 -->  
	<context:component-scan base-package="controller"></context:component-scan>
	<!-- （3）启动mvc的注解 -->
	<mvc:annotation-driven></mvc:annotation-driven>
    
    <!-- 完成视图的对应 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/"/>  
		<property name="suffix" value=".jsp"/>
	</bean> 
	
	<!-- 导入静态资源（js、css等文件） -->
    <mvc:resources mapping="/statics/**" location="/statics/" />
	
    <!--  全局异常处理 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.RuntimeException">error</prop>
			</props>
		</property>
	</bean>
	
    <!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   		 <property name="maxUploadSize" value="5000000"/>
   		 <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    
    
    
</beans>