.resetPassword_find_input{
	width: 58px;
	height: 26px;
	line-height: 26px;
	border: none;
	color: #FFF;
	font-weight: bold;
	background: url(../images/login1.jpg);
	margin-left: 15px;
}


.resetPassword_find_div{
	padding-top: 50px;
	padding-left: 50px;
}

